@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-top: 26px;
}

.categories {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.categories li {
  margin-top: 4px;
  padding: 5px 6px;
  color: #dedbf4;
  background-color: #1358a1e7;
  border-radius: 5px;
  border: 1px solid #555ca853;
}

.best-seller-section-container {
  width: 100%;
  background-color: rgb(255, 253, 253);
}

.best-seller-section {
  display: flex;
  justify-content: space-between;
  margin: 19px;
  color: rgb(56 101 151 / 91%);
}

.see-wrapper {
  display: flex;
  align-items: center;
  color: #1358a1e7;
}

.card-holder {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rate {
  font-size: 14px;
}

.card-header {
  text-align: center;
}

.project-img {
  height: 150px;
  width: 90px;
  border-radius: 8px;
}