@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-top: 26px;
}

.categories {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.categories li {
  margin-top: 4px;
  padding: 5px 6px;
  color: #dedbf4;
  background-color: #1358a1e7;
  border-radius: 5px;
  border: 1px solid #555ca853;
}

.best-seller-section-container {
  width: 100%;
  background-color: rgb(255, 253, 253);
}

.best-seller-section {
  display: flex;
  justify-content: space-between;
  margin: 0 23px;
  color: #1c2f44e7;
}

.see-wrapper {
  display: flex;
  align-items: center;
  color: #1358a1e7;

}